:root {
  --primary: 109 93 211;
  --primary-light: 109 93 211;
  --primary-dark: 109 93 211;
  --primary-foreground: 248 247 255;

  --background-light: 248 248 247;
  --background-dark: 13 13 13;

  --gray-50: 250 250 250;
  --gray-100: 245 245 245;
  --gray-200: 229 229 228;
  --gray-300: 212 212 212;
  --gray-400: 161 161 161;
  --gray-500: 115 115 115;
  --gray-600: 82 82 82;
  --gray-700: 52 52 52;
  --gray-800: 28 28 28;
  --gray-900: 18 18 18;
  --gray-950: 13 13 13;

  --tooltip-foreground: 248 247 255;
}

.dark body,
.dark #background-color {
  background-color: #0d0d0d !important;
}

.dark .card,
.dark [data-component-part="card-content-container"] {
  background-color: transparent;
  border-color: #1c1c1c;
}

.dark .card:hover,
.dark [data-component-part="card-content-container"]:hover {
  background-color: transparent;
  border-color: #6d5dd3;
}

.dark header,
.dark #navbar-transition[data-is-opaque="true"] {
  background-color: rgba(13, 13, 13, 0.88) !important;
}

.dark #navbar-transition {
  border-color: rgba(28, 28, 28, 0.95) !important;
}

.dark #sidebar,
.dark #sidebar-content {
  background-color: #0d0d0d;
}

.dark code:not(pre code) {
  background-color: #1d1d1d;
  border-color: #343434;
  color: #f8f7ff;
}

.dark .code-block,
.dark [data-component-part="code-block-root"] {
  border-color: #1c1c1c !important;
}

[data-component-part="language-switcher"] [data-language="en"] a::before {
  content: "🇺🇸 ";
}

[data-component-part="language-switcher"] [data-language="pt"] a::before {
  content: "🇧🇷 ";
}

[data-component-part="language-switcher"] button span:first-child::before {
  content: "🌐 ";
}
